.about__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 2rem 0 2rem;
    height: 100vh;
    width: 100vw;


    .about__buttonContainer {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        button {
            margin-top: 15px;
        }
    }
    
}