.ctaButton {
    width: var(--cta-button-width);
    height: var(--cta-button-height);
    font-size: var(--cta-button-font-size);
    font-family: var(--font-family-header);
    background-color: #fff;
    border: var(--cta-button-border);
}